
.form-container {

    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 350px;
  } 
  .input-container {
    margin-bottom: 15px;

  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
  }


  