
.search-bar {
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-left: 25px;
  
}
.button-group{
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  gap: 8px;
}
.intro {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;
}


.create-button:hover,
.find-button:hover,
.filter-button:hover {
opacity: 0.7;
}