@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Popins", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.search-bar input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

.create-button,
.find-button {
margin-left: 10px;
display: flex;
background-color: var(--tg-theme-button-color);
color: var(--tg-theme-button-text-color);
font-weight: 500;
padding: 4px 4px;
border-radius: 4px;
cursor: pointer;
font-size: 14px;
transition: opacity 0.3s;
}

.create-button:hover,
.find-button:hover {
opacity: 0.7;
}