

.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 355px;
    margin: 0 auto;

  } 
  .input-container {
    margin-bottom: 15px;
  }